h1{
font-family: 'Roboto', sans-serif;
font: bold;
}

h2{
font: bold;
}

h4{
text-align: center;
}

a{
text-align: center;
}

.nav li{
display: inline-block;
font-size: 16px;
padding: 10px;
}

.ul{
width: 40%;
text-align: center;
padding: 20px 0px 0px 0px;
}

.input-group{
width: 200px;
display: inline-block;
}

.popularSearches{
text-align: center;
}

.blue-text{
color: blue;
text-align: center;
}

.employeeCTA{
display: flexbox;
}

.employerCTA{
display: flexbox;
}

.heroCTA{
padding: 70px;
}

.buttonGroups{
text-align: center;
}

.button{

}